extends layout

block content
  h1= title
  div 
    p Address: 
    span#address
  button(id="connectAccount", type="submit", action="/tenants") Connectsssss
  p Welcome to #{title}
  script(src='/javascripts/abiData.js')
  script(src='/javascripts/web3Connect.js')
  //- scriptsrc="https://unpkg.com/@metamask/detect-provider/dist/detect-provider.min.js"></script>